.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: rgb(129, 129, 129);
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 650px;
  border-radius: 40px;
}

.search-area:hover{
  box-shadow: 1px 0px 10px 3px rgb(207, 207, 207);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  
}


.voice{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-top: 2px;
  margin-right: 4px;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  border-style: none;
  width: 480px;
}

.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-style: none;
  background-color: #f2f2f2;
  font-style: Arial;
  color:  #5f6368;
  font-size: 14px;
  height: 36px;

}

.googlesearch:hover{
  box-shadow: 1px 0px 10px 3px rgb(207, 207, 207);
}



.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-style: none;
  background-color: #f2f2f2;
  font-style: Arial;
  color:  #5f6368;
  font-size: 14px;
  height: 36px;

}
.feelinglucky:hover{
  box-shadow: 1px 0px 10px 3px rgb(207, 207, 207);
}



.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;

}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;

}

.footerli a:hover {
  text-decoration: underline;
}
 ul{
  list-style-type:none; 
 }
